*{
  padding: 0;
  margin: 0;
}

%webpage {
  width: 100%;
  height: 100%;
}

html,body {
  @extend  %webpage;
}
ul,li{
  list-style: none;
}
.swiper-container {
  margin: 0 auto;
  max-width: 640px;
  @extend  %webpage;
}
.swiper-slide {
  background-size: cover;
  @extend  %webpage;
}

.swiper-slide {

  &:after {
    content: '';
    position: absolute;
    left:0;
    right: 0;
    margin: 0 auto;
    width: 24px;
    height: 18px;
    bottom: 20px;
    background: url("../images/angle.png") no-repeat;
    background-size: contain;
    animation:showUpDown 1s linear infinite;
  }
}

@keyframes showUpDown {
  from {
    bottom: 20px;
    opacity: 1;
  }
  to {
    bottom: 35px;
    opacity: 0;
  }
}
.music {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  z-index: 1;
}
.music.stopped .control {
  background: 0 0;
}
.music .control {
  width: 2.5rem;
  height: 2.5rem;
  background: url(../images/music.gif) transparent no-repeat center center;
  background-size: contain;
}
.music.stopped .control .control-after {
  -webkit-animation: none;
  animation: none;
}
.music .control .control-after {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -.75rem;
  margin-left: -.75rem;
  background: url(../images/music_off.png) transparent no-repeat center center;
  background-size: 100% 100%;
  -webkit-animation: rotate2d 1.2s linear infinite;
  animation: rotate2d 1.2s linear infinite;
  z-index: -1;
}
@keyframes rotate2d {
  from{
    transform:rotate(0deg)
  }
  to{
    transform:rotate(360deg)
  }
}

.swiper-pagination-bullet{
  background-color: #f9f9f9;
}
.swiper-pagination-bullet-active{
  background-color: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
}
